* {
    margin: 0%;
    padding: 0%;


}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    justify-content: space-between;
    background-image: url(../img/t.jpg)
}

.navegacion {
    background-color: rgba(4, 3, 53, 0.584);

}

.menu li {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 0px 10px;

}

.menu li a {
    text-decoration: none;
    color: white;

}

.nacionalidad {
    position: absolute;
    right: 0px;
    top: 0px;

}

.video {
    display: flex;
justify-content: end;
}


.marca {
    color: aliceblue;
    background-color: rgba(105, 103, 247, 0.947);
    padding: 1px 0;
    text-align: center;
    margin-top: auto; 
    justify-content: space-between;


}


.titulo {
    color: black;
    font-size: 45px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;


}

.navItems li a {
    color: black;
}

h1 {
    font-weight: bold;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

.titulo2 {
    display: inline-block;
    position: absolute;
    right: 0px;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.n2 {
    background-color: rgba(4, 3, 53, 0.801);
}

.m2 li {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 0px 10px;

}

.m2 li a {
    text-decoration: none;
    color: white;
}

.t2 {
    background-color: black;
    color: white;
    text-align: center;

    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
}

.clasificacion {
    margin: 0px;
    padding: 0px;
    display: inline-block;
    position: relative;
    width: 255px;
    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: lighter;
    text-align: center;
}

.tabla {
    background-color: rgb(6, 92, 104);
    color: white;

}

.borde {
    background-color: aliceblue;
    width: 900px;
    height: 150px;

}

.t22 {
    background-color: aliceblue;
    width: 900px;
    height: 150px;

}

.i2 {
    background-color: rgb(6, 92, 104);
    color: white;

}

.class2 {
    display: inline-block;
    position: relative;
    width: 285px;
    font-weight: lighter;

    background-color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
}

.img1 {
    display: flex;
    justify-content: flex-end;
}

.marca2 {
    color: aliceblue;
    background-color: rgba(105, 103, 247, 0.947);
    padding: 1px 0;
    text-align: center;
    margin-top: auto;
}

.h34 {
    background-color: rgba(4, 3, 53, 0.801);
    margin: 0px;
}

.m3 li {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 0px 10px;
}

.m3 li a {
    text-decoration: none;
    color: white;
}

.tituloUno {
    background-color: black;
    color: white;
    text-align: center;

    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
    justify-content: baseline;
}

.marca3 {
    color: aliceblue;
    background-color: black;
    position: absolute;
    bottom: 0px;
    right: 0%;

}

.buenosAires {
    height: 250px;
    margin: auto;
    display: inline-block;
    border: 5px solid rgb(8, 8, 8);
}

.cancun {
    height: 250px;
    display: block;
    border: 5px solid rgb(7, 7, 7);

}

.dominicana {
    height: 250px;

    display: block;
    border: 5px solid rgb(10, 10, 10);
}

.madrid {
    height: 250px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 100px;
    left: 1000px;
    border: 5px solid rgb(3, 3, 3);
}

.newYork {
    height: 250px;
    display: inline-block;
    position: absolute;
    right: 10px;
    top: 400px;
    left: 1000px;
    border: 5px solid rgb(14, 13, 13);
}

.parrafo1 {
    width: 400px;
    height: 180px;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    background: white;
    position: absolute;
    top: 163px;
    right: 1160px;
    border: 5px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parrafo2 {
    width: 420px;
    height: 185px;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    background: white;
    position: absolute;
    top: 442px;
    right: 1140px;
    border: 5px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parrafo3 {
    width: 420px;
    height: 185px;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    background: white;
    position: absolute;
    top: 724px;
    right: 1140px;
    border: 5px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.parrafo4 {
    width: 420px;
    height: 185px;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    background: white;
    position: absolute;
    top: 157px;
    right: 120px;
    border: 5px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.parrafo5 {
    width: 420px;
    height: 185px;
    padding: 5px;
    font-size: 16px;
    line-height: 1.5;
    background: white;
    position: absolute;
    top: 458px;
    right: 120px;
    border: 5px solid black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.n4 {
    background-color: rgba(4, 3, 53, 0.801);
}

.m4 li {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 0px 10px;
}

.m4 li a {
    text-decoration: none;
    color: white;

}

.pagos {
    background-color: rgba(236, 233, 233, 0.415);
    color: white;
    text-align: center;

    padding-bottom: 10px;
    margin: 0px;
    text-align: center;
}

.n5 {
    background-color: rgba(4, 3, 53, 0.801);
}

.m5 li {
    display: inline-block;
    position: relative;
    font-size: 30px;
    padding: 0px 10px;
}

.m5 li a {
    color: white;
    text-decoration: none;
}

.sesiont {
    background-color: black;
    color: white;
    text-align: center;
  
   
}

.registro {
    width: 400px;
    background: rgba(2, 2, 2, 0.678);
    ;
    padding: 30px;
    margin: auto;
    margin-top: 0px;
    border-radius: 4px;
    color: white;
    border: #f6f6f6 solid 3px;
}

.contorls {
    width: 100%;
    background: #f1f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-size: 18px;
}

.boton {
    width: 100%;
    background: #f6f6f6;
    border: none;
    padding: 12px;
    color: #00080c;
    margin: 16px 0;
    font-size: 16px;
    background-color: rgb(7, 136, 136);
}

.logint {
    text-align: center;
    margin-bottom: 0px;
    background-color: aliceblue;


}

.sregister {
    color: white;
    display: flex;
    justify-content: center;





}

.registro2 {
    width: 400px;
    background: rgba(2, 2, 2, 0.678);
    ;
    padding: 30px;
    margin: auto;
    margin-top: 0px;
    border-radius: 4px;
    color: white;
    border: #f6f6f6 solid 3px;
}


.controls {
    width: 100%;
    background: #f1f0f0;
    padding: 10px;
    border-radius: 4px;
    margin-bottom: 16px;
    border: 1px solid white;
    font-size: 18px;
}

.boton2 {
    width: 100%;
    background: #f6f6f6;
    border: none;
    padding: 12px;
    color: #00080c;
    margin: 16px 0;
    font-size: 16px;
    background-color: rgb(7, 136, 136);
}

.marca5 {
    color: aliceblue;
    background-color: black;
    display: flex;
    justify-content: flex-end;
}

.marca4 {
    color: aliceblue;
    background-color: black;
    position: absolute;
    bottom: 0px;
    right: 0%;
}


.contenedor {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 0.1fr 0.1fr 1fr 0fr 1fr;
    grid-template-areas:
        "titulo titulo titulo titulo"
        "navegador navegador navegador navegador"
    ;
    grid-column-gap: 5px;
    grid-row-gap: 2px;
}

.titulo {
    grid-area: titulo;
}

.navegacion {
    grid-area: navegador;
}

.buttons {
    min-width: 350px;
    align-items: flex-end;
  

}
.flex-container{
    display: flex;
    flex-direction: row-reverse;
    position: fixed;
    bottom: 40px;
    right: 10px;
}

.buttons a {
    text-decoration: none;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 8px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
    


}

.buttons a:hover {
    transform: scale(1.2);
}


    


.navBar {
    background-color: rgba(105, 103, 247, 0.947);
padding: 0px;
margin: 0px;


}

.tituloParrafo{
    background-color: black;
    color:rgb(162, 162, 163);

}

 .buttons2 a{
    text-decoration: none;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 8px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
 }    
.flex-container2{
    display: flex;
    flex-direction:column;
    position: fixed;
    bottom: 40px;
    right: 8px;
}
.buttons2 a:hover {
    transform: scale(1.2);
}
.buttons3 a{
    text-decoration: none;
    font-size: 25px;
    width: 50px;
    height: 50px;
    line-height: 50px;
    margin: 8px;
    text-align: center;
    background: #314652;
    color: #f1f1f1;
    border-radius: 50%;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
    transition: all .4s ease-in-out;
 }    
.flex-container3{
    display: flex;
    flex-direction:column;
    position: fixed;
    bottom: 38px;
    right: 10px;
}
.buttons3 a:hover {
    transform: scale(1.2);
}



@media screen and (max-width: 768px) {
    .sregister {
        display: flex;
        justify-content: center;

    }

    .marca5 {
        bottom: -100px;
    }
    
    .navbar-toggler{
        background-color: #00080c;
        border: 1px solid white;
    } 
    

    .flex-container2{
        display: flex;
        flex-direction:row-reverse;
        position: fixed;
        bottom: 40px;
        right: 2px;
    }
}

@media screen and (max-width:425px) {
    .menu li a {
        display: flex;
        align-items: flex-end;
        font-size: 15px;

    }

    .marca5 p {
        bottom: 0px;

    }

    .video {
        width: 410px;

    }

    .registro {
        width: 350px;
    }

    .registro2 {
        width: 350px;
        height: 300px;
    }

    .contorls {
        padding: 3px;

    }

    .controls {
        padding: 0px;
    }


    

    .m5 li a {
        display: flex;
        justify-content: flex-start;
        font-size: 15px;
    }

    .flex-container3{
        display: flex;
        flex-direction:row-reverse;
        position: fixed;
        bottom: 38px;
        right: 10px;
    }
}